body {
    width: 440px;
    height: 100%;
    line-height: 1.6;
    border: 1px solid rgb(69, 112, 255);
    padding: 5px 25px;
    padding-bottom: 20px;
}
body * {
    padding: 3px;
}

h1 {
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

label {
    word-wrap: break-word;
}